h5 {
    width: 100%;
}

h2, h3 {
    width: 100%;
    min-height: 3em;
}

h2 strong, h3 strong {
    float: right;
    background: #000000;
    color: #fad17e;
    margin: 0.5em;
    padding: 0.5em;
}

@page {
    margin-left: 1.18in;
    margin-right: 1.18in;
    margin-top: 0.49in;
    margin-bottom: 0.49in;
}

p {
    margin-bottom: 0.1in;
    direction: ltr; line-height: 115%;
    text-align: left; orphans: 2;
    widows: 2;
}

body {
/*    background: #000000; */
}

.container-fluid img {
    max-width: 100%;
    float: left;
}

.diagram p {
    width: 100%;
    display: block;
    text-align: center;
}

.diagram img {
    max-width: 100%;
    margin: 0.5em auto 0.5em auto;
    padding: 0.5em;
    float: none;
}

center strong {
    margin-bottom: 1em;
    display: block;
}

.container-fluid {
    max-width: 8.5in;
    margin-left: 0;
    padding-left: 0;
    background: #ffffff;
}

table { 
    margin: 1em auto 1em auto;
}

th {
    background: #000000;
    color: #ffd966;
    padding: 0.5em;
}

td {
    padding: 0.25em;
}

#title-page {
    /*
    min-width: 8.5in;
    height: 11in;
    */
    width: 100%;
    padding: 0;
    margin: 0;
}

.author-bio img, .author-bio p img {
    padding: 0 1em 0 1em;
}
