<header id="header"></header>
<div class="container-fluid">
    <section class="container">
        <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-1"></div>
            <div class="col-10" id="content">
            </div>
            <div class="col-1"></div>
        </div>

    </section>
</div>
<div style="position: absolute; bottom: 0;">
    <!-- &copy; 2018 Ira Miller & Eloy Fisher. All rights reserved. Do not distribute. -->
</div>

